extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
      include ../static/style.css
      include ../static/thanks.css

block content
        div.div
            <p><h3>Thanks! For being Our Part</h3>
            <h4>We will Start Our Class Once We Complete 50 Members</h4></p>
            
        

